# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Windows batch files need CRLF.
*.bat text eol=crlf

# Binaries
*.png binary
*.jpg binary
*.webp binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.glb binary
*.gltf binary
*.bin binary
